---
import ArticleLayout from "../layouts/ArticleLayout.astro";


---

<ArticleLayout title="Search informed/citizen">


<section class="search-results px1">

  <div class="search-bar">
    <input type="search" />
  </div>

  <div class="search-result-message"></div>

</section>


</ArticleLayout>

<style>

.search-bar {
  transform: translateY(-2rem);
}

.search-result-message {
  font-size: var(--font-size-2);
}

.search-results {
  display :grid;
  gap : 1.3rem;
}

</style>

<script type="module">

const params = new URLSearchParams(window.location.search)
const searchQuery = params.get('q')
const pattern = new RegExp(searchQuery, 'i')
const searchResultsEl = document.querySelector('.search-results')
const searchResultMessage = document.querySelector('.search-result-message')

if(searchQuery) getSearchResults()

async function getSearchResults() {

  try {
    const res = await fetch('/assets/json/searchResults.json')
    if(!res.ok) throw new Error('Failed to fetch article data')
    const json = await res.json()
    const searchResults = json.filter( result => {
      return pattern.test(result.title) || pattern.test(result.excerpt) || pattern.test(result.tags) 
    })

    if(searchResults.length === 0) {
      searchResultMessage.innerHTML = `No results found for ${searchQuery}`
      return
    }

    searchResults.map( result => {
      const resultHTML = `
        <div class="search-result">
          <h2>${result.title}</h2>
          <p>${result.excerpt}</p>
          <a href="/politics/${result.uri}">Read More</a>
        </div>
      `
      searchResultsEl.insertAdjacentHTML('beforeEnd', resultHTML)
    })

    searchResultMessage.innerHTML = `Showing results for "${searchQuery}"`

  } catch (error) {
    searchResultMessage.innerHTML = `${error.message}`
  }
}

</script>